# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/

# Django/Migrations
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/
*.mo
*.swp

# Django secret or local settings
.env
*.env
.env.*  # e.g., .env.dev, .env.prod
config/settings/local.py

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS / System
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml
logs/
__docker_build__/

# Coverage / Testing
.coverage
coverage.xml
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
test.db

# Byte-compiled and cache
*.egg
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

# MySQL dump
*.sql

# Gunicorn logs
gunicorn.log

